Bucket1/TEST2.json
{
  "externalControllerServices" : {
    "42f79e7d-85e7-34d8-938b-351c5e55bdb1" : {
      "identifier" : "42f79e7d-85e7-34d8-938b-351c5e55bdb1",
      "name" : "ERPUATAUTH"
    },
    "0a4eb57b-9e74-3ef4-9c5c-4d69e9fbf8c2" : {
      "identifier" : "0a4eb57b-9e74-3ef4-9c5c-4d69e9fbf8c2",
      "name" : "StandardRestrictedSSLContextService"
    }
  },
  "flow" : {
    "createdTimestamp" : 1719916265390,
    "description" : "Descrizione del flusso",
    "identifier" : "TEST2",
    "lastModifiedTimestamp" : 1719916265390,
    "name" : "TEST2",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "958f3f7e-efe8-384b-900b-0fa341ec6309",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "004d5ae6-9c30-3304-8fa4-abe897dada64",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3fa59bba-b0d8-3b55-b8bb-ec941deef65d",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "958f3f7e-efe8-384b-900b-0fa341ec6309",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4ee7c5c5-443a-348f-b345-d67deb2ce5a8",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e5ba6bed-485a-3b17-8d7e-b3700b6b370a",
        "name" : "Get Messages Queue UAT",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "42f79e7d-85e7-34d8-938b-351c5e55bdb1" : {
        "identifier" : "42f79e7d-85e7-34d8-938b-351c5e55bdb1",
        "name" : "ERPUATAUTH"
      },
      "0a4eb57b-9e74-3ef4-9c5c-4d69e9fbf8c2" : {
        "identifier" : "0a4eb57b-9e74-3ef4-9c5c-4d69e9fbf8c2",
        "name" : "StandardRestrictedSSLContextService"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "958f3f7e-efe8-384b-900b-0fa341ec6309",
      "position" : {
        "x" : 852.0,
        "y" : 459.013916015625
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "",
    "maxConcurrentTasks" : 1,
    "name" : "testregistry",
    "outputPorts" : [ ],
    "parameterContextName" : "NIFI",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-stateful-analysis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6ac59c3c-27fc-3b4d-806c-561b85c189db",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AttributeRollingWindow",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 288.0,
        "y" : 176.0
      },
      "properties" : { },
      "propertyDescriptors" : {
        "Value to track" : {
          "displayName" : "Value to track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value to track",
          "sensitive" : false
        },
        "Time window" : {
          "displayName" : "Time window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time window",
          "sensitive" : false
        },
        "Sub-window length" : {
          "displayName" : "Sub-window length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sub-window length",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.stateful.analysis.AttributeRollingWindow",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-stateful-analysis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "65161a37-e516-385b-86c4-bd765989ac8b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AttributeRollingWindow",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 690.0,
        "y" : 47.013916015625
      },
      "properties" : { },
      "propertyDescriptors" : {
        "Value to track" : {
          "displayName" : "Value to track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value to track",
          "sensitive" : false
        },
        "Time window" : {
          "displayName" : "Time window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time window",
          "sensitive" : false
        },
        "Sub-window length" : {
          "displayName" : "Sub-window length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sub-window length",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.stateful.analysis.AttributeRollingWindow",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3fa59bba-b0d8-3b55-b8bb-ec941deef65d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 705.0,
        "y" : 184.013916015625
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e5ba6bed-485a-3b17-8d7e-b3700b6b370a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Get Messages Queue UAT",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1232.4949115973404,
        "y" : 387.9930797366423
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "15 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "HTTP URL" : "#{ERPUATMessageQueue}?$orderby=Timestamp asc&cross-company=true&$filter= FlowId eq 'VENDOR' or FlowId eq 'CUSTOMER' or FlowId eq 'BOMASBUILT' or FlowId eq 'BOATACCESSORY' or FlowId eq 'BOATPOSITION' or FlowId eq 'YATCH' or FlowId eq 'PRODUCTCRM'",
        "Request OAuth2 Access Token Provider" : "42f79e7d-85e7-34d8-938b-351c5e55bdb1",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "False",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "SSL Context Service" : "0a4eb57b-9e74-3ef4-9c5c-4d69e9fbf8c2",
        "Response Generation Required" : "false",
        "Request User-Agent" : "curl/8.6.0",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "15 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "NIFI" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "NIFI",
      "parameters" : [ {
        "description" : "",
        "name" : "ERPUATCleintId",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "ERPClientId",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "ModulaTestUsername",
        "provided" : false,
        "sensitive" : false,
        "value" : "Modula"
      }, {
        "description" : "",
        "name" : "ERPCarichiTestateIN",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventLoadHeaderINs"
      }, {
        "description" : "",
        "name" : "ModulaTestExportOrdini",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://172.21.2.19:9001/api/jobs/CFG-EXP-ORDINI"
      }, {
        "description" : "",
        "name" : "ModulaTestImportArticoli",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://172.21.2.19:9001/api/jobs/CFG-IMP-ARTICOLI"
      }, {
        "description" : "",
        "name" : "ModulaTestImportOrdini",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://172.21.2.19:9001/api/jobs/CFG-IMP-ORDINI"
      }, {
        "description" : "",
        "name" : "ERPAuthTest",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://login.microsoftonline.com/ABGCloud.onmicrosoft.com/oauth2/token"
      }, {
        "description" : "",
        "name" : "ERPUATResource",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int"
      }, {
        "description" : "",
        "name" : "ERPPrelieviLineeIN",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventPickLinesINs"
      }, {
        "description" : "",
        "name" : "ERPPrelieviTestateIN",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventPickHeaderINs"
      }, {
        "description" : "",
        "name" : "ERPPrelieviTestate",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventPickHeaderOUTs"
      }, {
        "description" : "",
        "name" : "ERPUATBaseUrl",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data"
      }, {
        "description" : "",
        "name" : "ModulaInventLoadHeaderIN",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventLoadHeaderINs?cross-company=true"
      }, {
        "description" : "",
        "name" : "ERPProdotti",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/EcoResReleasedProductModulas"
      }, {
        "description" : "",
        "name" : "AODOCSUploadDocuments",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://aodocs-integration-6ieedw3rpa-ew.a.run.app/documents/"
      }, {
        "description" : "",
        "name" : "ERPTestResource",
        "provided" : false,
        "sensitive" : false,
        "value" : "6c2d2ce8-e454-446b-8263-0f1dfb089b5c"
      }, {
        "description" : "",
        "name" : "ERPCarichiLineeIN",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventLoadLinesINs"
      }, {
        "description" : "",
        "name" : "AODOCSTestUrl",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://aodocs-integration-6ieedw3rpa-ew.a.run.app/documents"
      }, {
        "description" : "",
        "name" : "ERPClientSecret",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "ERPCarichiLinee",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventLoadLinesOUTs"
      }, {
        "description" : "",
        "name" : "ModulaTestAuth",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://172.21.2.19:9001/token"
      }, {
        "description" : "",
        "name" : "ERPPrelieviLinee",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventPickLinesOUTs"
      }, {
        "description" : "",
        "name" : "ModulaTestAck",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://172.21.2.19:9001/api/jobs/CFG-EXP-ORDINI/ack"
      }, {
        "description" : "",
        "name" : "ERPUATMessageQueue",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/AZBMessageQueue"
      }, {
        "description" : "",
        "name" : "ERPUATClientSecret",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "ERPUATAuth",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://fs.abg.int/adfs/oauth2/token"
      }, {
        "description" : "",
        "name" : "ModulaTestPassword",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "ERPCarichiTestate",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://testd365fo.abg.int/namespaces/AXSF/data/ModulaInventLoadHeaderOUTs"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "196cd872-9ea8-45f6-ba04-a4583846b2d5",
    "flowIdentifier" : "TEST2",
    "timestamp" : 0
  }
}